* {
    margin: 0;
    font-family: 'Bitstream Vera Sans';
    font-size: 14;
}

window#waybar {
    background-color: transparent;
    color: #1e1a18;
}

label:disabled,
button:disabled {
    color: inherit;
}

.modules-left:first-child {
    margin-left: 70px;
}

.modules-right:last-child {
    margin-right: 70px;
}

#workspaces button {
    background-color: transparent;
    color: #1e1a18;
}

#workspaces button:hover {
    background: #4a64a5;
    color: #ced5e5;
    border: 1px solid #4a64a5;
}

/* #workspaces button.focused {  */
/* changed for hyprland */
#workspaces button.active {
    border-color: #1e1a18;
    font-weight: bold;
}

#workspaces button.urgent {
    background-color: #89a3e5;
    color: #393b3f;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#pulseaudio,
#mpd,
#tray,
#workspaces button {
    border: 1px solid transparent;
    border-radius: 15;
    padding: 4px 10px 4px 10px;
    
    margin: 6px 10px 6px 0px;
    
    box-shadow: 0 0;
 }


#tray {
    margin-right: 0;
}

#clock {
    margin-left: 70px;
    margin-right: 70px;
}

#battery {
    background-color: transparent;
    color: #1e1a18;
}

#battery.charging, #battery.plugged {
    background-color: #e5d189;
    color: #3f3e39;
}

#battery.critical:not(.charging) {
    background-color: #89a3e5;
    color: #393b3f;
}

#temperature.critical {
    background-color: #89a3e5;
    color: #393b3f;
}