html[data-darkreader-mode] body a {
  color: rgb(238, 234, 214) !important;
}

@-moz-document regexp('^(?!http).*') {
  :root>* {
    background: rgb(51, 50, 45) !important;
  }
}

/* #urlbar-input-container:-moz-lwtheme, .urlbarView:-moz-lwtheme {
  background-color: color-mix(in srgb, var(--lwt-accent-color) 87%, black);
} */
